table {
    border-collapse: separate;
    border-spacing: 60px;
    stroke-opacity: 30px;
}
#icet01{
    background-color: blue;
}
.group01{
    background-color: yellowgreen;
    border: 5px solid red;
    border-style: dotted;
    border-radius: 20px;
}

#background{
    background-image: url(img/backgroundimg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}